.chat {
  width: 30px;
  height: 30px;
  background-image: url('/assets/img/navbar-chat-100x100.png');
}

.chat-gris {
  width: 30px;
  height: 30px;
  background-image: url('/assets/img/navbar-chat-100x100-03.png');
}
